{% block doctype %}<!DOCTYPE html>{% endblock %}
{% block docWrap %}
{#-# `doc` at end due to [weird IE5 mac bug](https://www.tobymackenzie.com/blog/2018/02/03/ie5-mac-class-space-bug/): any classes on `<html>` that have a space following them will match the beginning substring of any class selectors #}
<html{% block docAttr %} class="{% block docClasses %}ua-no-js doc-{{ doc.name | default('default') }} env-{{ app.environment }}{% if doc.classes is defined %} {{doc.classes | raw}}{% endif %} doc{% endblock %}" id="doc-{{ doc.name | default('default') }}"{% if doc.attr is defined %} {{doc.attr | raw}}{% endif %}{% endblock %}>
{%	block docHeadWrap %}
	<head>
{%		block docCharsetWrap %}
		<meta charset="{% block docCharset %}{{ doc.charset | default('utf-8') }}{% endblock %}" />
{%		endblock %}
{%		block docTitleWrap %}
		<title>{% block docTitle %}{% if doc.title is defined %}{{doc.title}} - {% endif %}{{ site.title | default('Site') }}{% endblock %}</title>
{%		endblock %}
{%		block docMeta %}
		{% if doc.description is defined %}<meta content="{{doc.description}}" name="description" />{% endif %}
		{% if doc.keywords is defined %}<meta content="{{doc.keywords}}" name="keywords" />{% endif %}
		{% if site.isResponsive is defined %}<meta content="initial-scale=1,width=device-width" name="viewport" />{% endif %}
{%		endblock %}
{%		block docStyles %}{% endblock %}
{%		block docPreScripts %}{% endblock %}
	</head>
{%	endblock %}
{%	block docBodyWrap %}
	<body id="body">
{%		block docBody %}{% endblock %}
{%		block docPostScripts %}{% endblock %}
	</body>
{%	endblock %}
</html>
{% endblock %}
